@import "../../variables.scss";

.containerGather{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    min-height: 100vh;
    background-color: $colorBlack;
    flex-wrap: wrap;

    .containerGather_left{
        width: 50%;
        background-color: $colorBlack;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 4em;
        
        p{
            font-size: 32px;
            width: 90%;
            color: $textDefault;
        }
    }

    .containerGather_right{
        width: 50%;
        height: 100%;   
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 4em;
        background-color: $colorBlack;
        
       video{
        width: 100%;
        height: 100%;
        border-radius: 15px;
       }
    }
}

//MOBILE
@media(max-width:904px){
    .containerGather{
        flex-direction: column;
        min-height: auto;

        .containerGather_left{
            width: 100%;
            padding: 2em;

            p{
                width: 100%;
                font-size: 24px;
            }
        }

        .containerGather_right{
            width: 100%;
            height: auto;
            padding: .3em 2em;
            padding-bottom: 1em;
            background-color: $colorBlack;

            video{
                border-radius: 10px;
            }
        }
    }
}