@import "../../variables.scss";

.containerHome{
    background:$colorBlack;
    height:100vh;
    padding-top: 70px;

    display: flex;
    justify-content: space-around;
    padding: 0 2em;

    .containerHome_text,
    .containerHome_img{
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .containerHome_img{
        align-items: center;
        width: 50%;

        img{
            width: 100%;
            transition: 1s;
            animation: moveJupiter 3s linear infinite;


            &:hover{
                width: 65%;
            }
        }
    }

    .containerHome_text{
        align-items: flex-start;
        color: $textDefault;
        width: 40%;

        h1{
            font-size: 66px;
            margin-bottom: .5em;
        }

        p{
            font-size: 34px;
            margin: .5em 0;
        }

        button{
            margin-top: 1em;
        }

        .btn-home{
            border: 1px solid $colorOrange;
        }
    }
}

@keyframes moveJupiter{
    0%{
        width: 50%;
    }

    50%{
        width: 55%;
    }

    100%{
        width: 50%;
    }
}

@keyframes revealJupiter{
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0);
    }
}


//MOBILE
@media (max-width:1060px){
    .containerHome{
        flex-direction: column;
        padding-top: 8em;
        align-items: center;

        .containerHome_text{
            p{
                font-size: 14px;
            }
            .btn-mobile{
                background-color: $colorOrange;
                color: $colorBlack;
            }
        }

        .containerHome_text,
        .containerHome_img{
            width: 100%;
            align-items: center;
            text-align: center;
        }

        .containerHome_img{
            width: 50%;
        }        
    }
}