@import "../../variables.scss";

.containerContact{
    height: 70vh;
    background-color: $backgroundAllBlack;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $textDefault;
    flex-wrap: wrap;

    .containerContact_text{
        width: 40%;
        padding: 0 4em;

        p{
            font-size: 42px;
            margin-bottom: 1em;
        }

        span{
            border-bottom: 2px dotted $colorOrange;
        }
    }

    .containerContact_right{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: $colorOrange;
        padding-left: 4rem;
        color: $colorBlack;

        .containerContact_btns{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 70%;
            justify-content: space-between;

            a{
                text-decoration: none;

                .btn-mail{
                    margin: .5rem 0;
                    &:hover{
                        color: $colorOrange;
                        background-color: $textDefault;
                    }

                    svg{
                        margin-right: .3em;
                    }
                }
                
                .btn-insta{
                    margin: .5rem 0;
                    &:hover{
                        color: $purple;
                        background-color: $textDefault;
                    }

                    svg{
                        margin-right: .3em;
                    }
                }

                .btn-whatsapp{
                    margin: .5rem 0;
                    &:hover{
                        color: $green;
                        background-color: $textDefault;
                    }

                    svg{
                        margin-right: .3em;
                    }
                }

                .btn-twitter{
                    margin: .5rem 0;
                    &:hover{
                        color: $blue;
                        background-color: $textDefault;
                    }

                    svg{
                        margin-right: .3em;
                    }
                }
            }

        }

        p{
            width: 80%;
            font-size: 32px;
            margin-bottom: 1em;
        }
    }
}

//MOBILE
@media (max-width:1200px){
    .containerContact{

        height: auto;
        
        .containerContact_right,
        .containerContact_text{
            padding: 2em;
        }

        .containerContact_btns{
            flex-direction: column !important;
        }
    }
   
}

@media (max-width:904px){
    .containerContact{

       flex-direction: column;

       .containerContact_text,
       .containerContact_right{
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
       }
    }
   
}