@import "../../variables.scss";

.containerAbout{
    height: auto;
    // min-height: 100vh;
    // background: url('https://images.pexels.com/photos/39561/solar-flare-sun-eruption-energy-39561.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-size: cover;
    color: $textDefault;
    background-attachment: fixed;
    background-color: #000;
    

    .containerAbout_background{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        width: 100%;
        min-height: 100vh;
        transition: 2s;
        background-color: rgba(0, 0, 0, 0.919);

        .containerAbout_title{
            width: 100%;
            margin-left: 40em;
            text-transform: uppercase;

            h2{
                font-size: 42px;
                text-align: start;

            }
        }
        .containerAbout_box{
            width: 60%;
    
            p{
                text-align: start;
                margin-top: 2em;
                font-size: 18px;
            }
        }
    }

   
}

//MOBILE

@media (max-width:904px){

    .containerAbout{

        height: auto;

        .containerAbout_title{
            width: auto !important;
            margin: 0 !important; 

            h2{
                width: auto !important;
            }
        }

        .containerAbout_box{
            width: 100% !important;
            padding: 0 2em;

            p{
                font-size: 14px !important;
            }
        }
    }
}