@import "../../variables.scss";

.header-mobile{
  background-color: $colorOrangeHeader;
  backdrop-filter: blur(12px);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0 ;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none;

  .btn-close-header{
    width: 100%;
    padding: 0 4em;

    svg{
      color: $colorOrange;
    }
  }

  ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 50%;
    align-items: flex-start;
    justify-content: space-evenly;
    font-weight: 900;
    font-size: 32px;
    padding: 0 2em;
    margin-bottom: 4em;
    width: 100%;

    a{
      color: $textDefault;
      text-decoration: none;
      width: 100%;
      padding: .5em;
      background-color: $colorBlack;

      li{
        list-style: none;
      }
    }
  }
}

header{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    height: 70px;
    flex-wrap: wrap;
    background-color: $colorOrangeHeader;
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-weight: 900;


    .menu-btn-mobile{
      display: none;
    }

    .logo{
      span{
        font-size: 24px;
      }
    }

    a{
        color: $textDefault;  
          text-decoration: none;
          transition: .5s;

          &:hover{
            color: $colorBlack;
            background-color: $colorOrange;
            padding: .8em;
            transition: .5s;
            box-shadow: 5px 5px $purple;
          }
    }

    ul{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        flex-wrap: wrap;

        li{
            list-style: none;
          }
    }
}

@media(max-width:1360px){
  header{
    ul{
      width: 50%;
    }
  }
}


//MOBILE
@media (max-width:904px){
  header{

    

    flex-direction: row-reverse;

    .menu-btn-mobile{
      display: block;
    }

    ul{
      display: none;
    }
  }
}