@import "../../variables.scss";

.container-ourplans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    min-height: auto;
    padding: 4em 0;

    .container-ourplans_title{
        color: $colorBlack;
        text-align: start;
        font-size: 32px;
        margin-left: 4em;
        width: 100%;
        text-transform: uppercase;
    }

    .container-ourplans_plans{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        min-height: 100vh;
        padding: 2em;


        .container-ourplans_plan{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em;
            border: 2px solid $colorBlack;
            color: $colorBlack;
            justify-content: space-around;
            height: auto;
            min-height: 700px;
            width: 28%;
            text-align: start;
            transition: .5s;
            background: #eee;

            &:hover{
               transform: scale(1.1)
            }

            button{
                width: 100%;
            }

            .btn-plan{
                
                &:hover{
                    color: $textDefault;
                }
            }
            

            img, video{
                width: 100%;
                cursor: pointer;
                transition: 1s;
                margin: .5em 0;
                height: 200px;
            }

            img{
                object-fit: cover;
            }

            p{
                margin: 1em 0;
                height: 160px;
                overflow: auto;
            }
        }
    }
}

//MOBILE
@media(max-width:904px){
    .container-ourplans{
        padding: 2em 0;
        height: auto;

        .container-ourplans_title{
            font-size: 16px;
            width: auto;
            margin: 0;
            padding: 0 1em;
        }
        .container-ourplans_plans{
            flex-direction: column;
            height: auto;
            margin-top: 2em;
            padding: 0;
    
            .container-ourplans_plan{
                width: 90%;
                margin: 1em 0;
                min-height: auto !important;

                img, video{
                   border-radius: 10px;
                }

                p{
                    height: auto;
                    margin-bottom: 3em;
                }

                .btn-plan{
                    &:hover{
                        background-color: $colorBlack !important;
                    }
                }

                &:hover{
                    transform: scale(1.0) !important;
                }
            }
        }
    }

}