@import "../../variables.scss";

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 200px;
    background-color: $backgroundAllBlack;
    color: $textDefault;
    padding: 0 2rem;
    border-top: 2px solid $colorBlack;
    font-size: 10px;

    span{
        margin-top: 1em;
        a{
            color: $colorOrange;
            text-decoration: none;
            margin-left: .5em;
        }
    }
}




@media (max-width:904px){
    footer{
        text-align: center;
    }
}