@import "../../variables.scss";

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background-color: #fff;
    color: $colorBlack;
    padding: 10em 2rem;
    border-top: 2px solid $colorBlack;
    font-size: 15px;
    font-family: 'Poppins', sans-serif !important;

    .left, .right{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    span{
        margin-top: 1em;
        a{
            color: $blue;
            text-decoration: none;
            margin-left: .5em;
            font-weight: 700;
        }
    }
}

//MOBILE
@media(max-width:900px){
    footer{
        min-height: 200px !important;

        .left, .right{
            flex-direction: column !important;
            height: auto !important;
        }
    }
}