@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    &::-webkit-scrollbar {
        width: 6px;          
      }
      
      &::-webkit-scrollbar-track {
        background: $colorBlack;  
        border-radius: 20px;     
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $colorOrange;   
        border-radius: 20px;      
      }
}

.view-product-btn{
    margin-bottom: 1em;
}

body{
    overflow-x: hidden;
}

.breve{
    cursor: not-allowed !important;
    background-color: $colorOrange !important;
    border: none !important;
}

.btn-default{
    padding: 1rem;
    cursor: pointer;
    border: none;
    background-color: $colorBlack;
    color: $textDefault;
    font-weight: 900;
    font-size: 18px;
    transition: .5s;
    border-radius: 10px;

    &:hover{
        background-color: $colorOrange;
        color: $colorBlack;
        box-shadow: 10px 10px $colorOrangeHeader;
    }
}

//MOBILE
@media(max-width:904px){
    .btn-default{
        &:hover{
            background-color: $colorBlack;
            color: $textDefault;
            box-shadow: none;
        }
    }
}
