@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

.btn-default{
    padding: 1rem;
    cursor: pointer;
    border: 1px solid $colorOrange;
    background-color: $colorBlack;
    color: $textDefault;
    font-weight: 900;
    font-size: 18px;
    transition: .5s;

    &:hover{
        background-color: $colorOrange;
        color: $colorBlack;
        box-shadow: 10px 10px $colorOrangeHeader;
    }
}

//MOBILE
@media(max-width:904px){
    .btn-default{
        pointer-events: none;
    }
}