$colorBlack: #222;
$colorOrange: #e95d06; 
$colorOrangeHeader: #000000d5;
$textDefault: #FFF;
$border-radiusDefault: 10px;
$backgroundAllBlack: #000;
$purple: rebeccapurple;
$green: #48c148;
$blue: #3096e9;
$pink: #EB4A5F;